body{
color: #000;
font-family: "Arial",sans-serif;
font-size: 14px;
line-height: 1.5;
letter-spacing: 1px;
/*word-spacing: 7px;*/
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.clearfix:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}


.c-header {
  text-align: center;
  height: 50px;
  padding: 2px 2px;
  box-sizing: border-box;
}
.c-nav-icon{
  margin-top: 17px;
  margin-left: 17px;

  /*padding-left: 3%;*/
  box-sizing: border-box;

}

.c-nav-image{
  background-image: url("images/MENU ICON 34 X 34 PX.png") ;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  float: left;
}

.c-menu-text{
  float: left;
  padding-left: 5px;
  font-size: 10px;
  color: #676767;
  font-weight: bold;
  margin-top: 3px;
}

.c-logo
{
  width: 104px;
  height: 38px;
  margin: -10px 0px;

}

.c-right-container{
  float: right;
}

.c-menu-chef
{
  width: 85px;
  height: 22px;
}
.c-header-find
{
  width: 17px;
  height: 17px;
  padding-right: 28px;
}

.c-find-icon{
  float: left;
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  background-image: url("images/SEARCH 35 X 35 PX.png");
}

.c-bag-icon{
  float: left;
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  background-image: url("images/bagicon.png");
    margin-left: 30px;
    margin-right: 15px;

}


.c-header-right{
  float:left;
  margin-right: 5px;
}

.c-free-shipping{
  background-color: #e99caf;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.c-main-title{
  float: left;
  font-family: georgia;
  font-size: 16px;
  color: #03284c;

}



.c-price-range{
  float: right;
  width: 25%;
  text-align: right;
  margin-right: 10px;
  display: inline-block;
    margin: -20px 0px;
    font-size: 16px;
    color: #676767;
}

.c-to{
  font-family: georgia;
  font-style: italic;
  font-size: 14px;
  color: #676767;
}

.c-product-style{
  clear: both;
  float: left;
  font-size: 14px;
  color: #00295e;
  /*display: inline-block;*/
}

.c-name-price{
  margin-top: 20px;
  padding:  0px 10px;
}
.c-more-polo__arrow{
  width: 4.5px;
height: 7px;
  margin-top: -2px;
}

.c-more-polo{
  margin: 10px;
  font-size: 11px;
   text-decoration: underline;
}
.c-product-image{
  text-align: center;
    position: relative;

}

.c-left-arrow{

  display: inline-block;
    float: left;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    text-align: center;
    z-index: 15;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.7;


}
.c-left-arrow__image{
  width: 8px;
  height: 15px;
  position: relative;
  margin-top: 4px;
}

.c-left-right__image{
  width: 8px;
  height: 15px;
  position: relative;
  margin-top: 4px;
}

.c-main-image{

  height: auto;
  width: 100%;

  /*width: 70%;*/



}

.c-right-arrow{
  display: inline-block;
    /*float: right;*/
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    /*left:95%;*/
    text-align: center;
    z-index: 15;
    margin-right: 5px;
    border-radius: 5px;
    right: 6px;
    display: inline-block;
    opacity: 0.7;



}


.c-imageCount {
  position: absolute;
  margin-top: -35px;
  margin-left: 50%;
  left: -27px;
  background-color: #ffffff;
  opacity: 0.7;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  color: #13264c;
  font-size: 12px;
  width: 55px;
  text-align: center;
}

.c-product-detail-left{
  float: left;
}

.c-product-detail-right{
  float: right;
}

.c-product-color-lable{
  color: #03254c;
  font-size: 14px;

}

.c-product-color{
  color: #676767;
}
.c-product-detail-block{
  margin-top: 10px;
  margin-left: 10px;
}

.c-old-price{
  text-decoration: line-through;
  color: #03254c;

}

.c-new-price{
  color: red;
}

.c-color-pallet{
  margin-left: 10px;
  margin-top: 10px;
}
.c-color-swatch{
 width: 40px;
 height: 40px;
 border: 1px solid black;
 margin: 0 15px 15px 0 ;
 display: inline-block;
 position: relative;
 box-sizing: border-box;
}

.c-color-swatch-background{


  margin: 2px 3px;
height: 36px ;
width: 36px ;
box-sizing: border-box;

background-repeat: no-repeat ;
background-size: 32px 32px ;
}

.c-color-swatch__color1{
  background-image: url("images/1K0503.309.a.swatch.jpg");
}

.c-color-swatch__color2{
  background-image: url("images/1K0503.359.a.swatch.jpg");
}


.c-color-swatch__color3{
  background-image: url("images/1K0503.477.a.swatch.jpg");
}


.c-color-swatch__color4{
  background-image: url("images/1K0503.652.a.swatch.jpg");
}


.c-color-swatch__color5{
  background-image: url("images/1K0503.681.a.swatch.jpg");
}
.c-color-swatch__color6{
  background-image: url("images/1K0503.937.a.swatch.jpg");
}


.c-size-pallet{
  /*margin-top: 10px;*/
  margin-left: 10px;
}

.c-size-swatch{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 0 15px 15px 0 ;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: center;

}
.c-size-lable{
  font-weight: bold;

}

.c-selected{
  border: 1px solid red;
  width: 44px;
  height: 44px;
  margin: 0 15px 15px 0 ;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: center;

}
.c-size-swatch-selected{
  background-color: grey;
  width: 38px;
  height: 38px;
  border: 1px solid black;
  margin: 2px;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: center;

}


select {
  /*padding: 5px 10px;*/
  border-color: white;
  text-indent: 5px;
  background-color: white;

}
.selectQuantity{
  width: 88px;
  height: 45px;
  border-radius: 5px;
  border-color: #b6b6b6;
  background-color: #ffffff;
  text-align: left;
  padding: 5px;
  margin-left: 10px;
}
.c-quantity-lable{
  display: inline-block;
  margin-right: 5px;
}

.c-low{
  color: #676767;
}

.c-productAddToCart {
  padding-bottom: 15px;
    margin: 10px 15px;
}

.c-addToCart-Btn{
  height: 45px;
  border-radius: 5px;
  background-color:#e99caf;
  border: 1px solid #a26675;
  text-align: center;
  line-height: 45px;
  color: white;
}
.c-bag-image{
  width: 22px;
  height: 25px;
  margin-right: 2px;
  margin-top: 2px;
}

.c-add-to-bag{
  display: inline-block;
}

.c-bag-container{
  display: inline-block;
  margin-top: 5px;
}

.c-productDescription {
  padding: 0px 15px;
}

.c-bellows {
  border-top: solid 1px #333333;
  border-left: none;
  border-right: none;
}

.bellows__item {

  background: #FFFFFF;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bellows__header {
  padding: 20px 20px;
  color: #03254c;
  font-family: Georgia;
  font-size: 16px;
  line-height: 21px;
  vertical-align: middle;
}
.c-plus-icon{
  float: right;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.bellows__item__2{
  background: #FFFFFF;
  border-top: 1px solid #dcdfe4;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.bellows__item__3{
  background: #FFFFFF;
  border-top: 1px solid #dcdfe4;
  border-bottom: 1px solid #dcdfe4;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.c-productMessage {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.everyDay {
 padding: 0;
 text-align: center;
}

.everyDayImg{
  width: 34px;
  margin: -7px 0 0 0;
  display: inline;
  vertical-align: middle;
}

.c-backToTop {
  clear: both;
  width: 100%;
  height: 45px;

  background: #e5e9ed;
  text-align: center;
  color: #03254c;
  font-size: 12px;
  line-height: 45px;
  font-weight: bold;
}

.backToTop {
  vertical-align: middle;
  position: relative;
  top: -2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.c-product-contact{
float: left;
width: 50%;
height: 40px;
border-left: none;
border: 1px solid #adb3c1;
text-align: center;
font-family: Arial;
color: #03254c;
font-size: 12px;
line-height: 40px;
font-weight: bold;
}

.productContactNo {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 6px;
}


.c-productStore {
  float: left;
  width: 50%;
  height: 40px;
  border-left: none;
  border-right: none;
  border: 1px solid #adb3c1;
  line-height: 40px;
  color: #03254c;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.c-socialLinks {
  clear: both;
  width: 100%;
  padding: 20px 10px 0 10px;
  text-align: center;
}
.c-social-links{
  padding: 20px 10px 0 10px;
  text-align: center;
  width: 100%;
  clear: both;
}




.social-links{
 display: inline-block;
 text-align: center;
 background-size: 24px 24px;
 width: 24px;
 height: 24px;
 background-repeat: no-repeat;
   margin: 0px 14px;

  }

  .c-facebook
  {
    background-image: url("images/fbicon.png");
  }

  .c-twitter
  {
    background-image: url("images/twitter.png");
  }

  .c-youtube
  {
    background-image: url("images/youtube.png");
  }
  .c-pinterest
  {
    background-image: url("images/pinterest.png");
  }

  .c-footer-links{
    text-align: center;

  }
  .c-insta{
    background-image: url("images/instagram.png");
  }

.maillistinput{
  width: 65%;
  color: #afafaf;
  height: 45px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #afafaf;

  /*margin-left: 20px;*/
}

.signupbutton{
  width: 25%;
  height: 45px;
  color: #03254c;
  background-color: #e5e9ed;
  border-radius: 5px;
  margin-left: -10px;
  border-collapse: collapse;
  border: 1px solid #afafaf;
}
.c-enter-email{
  margin-top: 40px;
  text-align: center;
}

.c-copyright {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  color: #676767;
  margin-top: 20px;
}

.copyright {
  font-size: 12px;
}


.c-underline-text{
  text-decoration: underline;
}

.nortan{
margin-top: 20px;
}
